body {
    text-align: center;
    background-color: #EEC6B5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

h1 {
    margin-top: 5%;
    font-size: 250%;
}

input {
    font-size: large;
    border: 0px solid;
    background-color: black;
    border-radius: 10px;
    margin-top: 6%;
    padding: 2%;
    color: white;
    border-radius: 5px;
    text-align: center;
}

::placeholder {
    color: white;
}

#btn{
    border-radius: 8px;
    font-size: large;
    padding: 2%;
    width: 40%;
    height: 20%;
    padding: 2%;
    margin-top: 5%;
    background-color: #6B0B63;
    color: white;
  cursor: pointer;
}

button:hover{
  background-color: #2F0E2D ;
  transform: translateY(5px);
}

p {
    font-size: larger;
}

footer{
  font-weight: bold;
  color: black;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#output {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 850px){
    html{
        font-size: 70%;;
    }
}
@media (max-width: 750px){
    html{
        font-size: 60%;;
    }
}
@media (max-width: 500px){
    html{
        font-size: 50%;;
    }
}